<div class="ion-padding-top ion-padding-bottom">

  <!-- Tipo de notificación -->
  <div class="ion-padding-bottom">
    <ion-item id="style-inputs">
      <ion-icon name="notifications" class="icon-input"></ion-icon>
      <ion-input
        type="text"
        name="Tipo de notificación"
        placeholder="Tipo de Notificación"
        [(ngModel)]="selectedTypeNotification"
        maxlength="50"
        [readonly]="isReadOnly"
        >
      </ion-input>
    </ion-item>
  </div>

  <!-- Fecha de creación -->
  <div class="ion-padding-bottom">
    <ion-item id="style-inputs">
      <ion-icon name="calendar-clear-outline" class="icon-input"></ion-icon>
      <ion-input
      label="Creado el"
      label-placement="floating"
      type="date"
      name="fechaCreacionTipoNotificacion"
      placeholder="Creado el"
      [(ngModel)]="creationDate"
      disabled
      >
      </ion-input>
    </ion-item>
  </div>

  <!-- Fecha de Modificación -->
  <div class="ion-padding-bottom">
    <ion-item id="style-inputs">
      <ion-icon name="create-outline" class="icon-input"></ion-icon>
      <ion-input
        label="Modificado el"
        label-placement="floating"
        type="date"
        name="fechaModificacionTipoNotificacion"
        placeholder="Modificado el"
        [(ngModel)]="modificationDate"
        disabled
        >
      </ion-input>
    </ion-item>
  </div>

  <!-- Fecha de Baja -->
  <div>
    <ion-item id="style-inputs">
      <ion-icon name="power-outline" class="icon-input"></ion-icon>
      <ion-input
        label="Desactivado desde el"
        label-placement="floating"
        type="date"
        name="fechaBajaTipoNotificacion"
        placeholder="Desactivado desde el"
        [(ngModel)]="deactivationDate"
        disabled
        >
      </ion-input>
    </ion-item>
  </div>

  <ion-row *ngIf="true">
    <ion-col>
      <ion-item (click)="isEditing ? emitUpdateTypeNotification() : addData()" id="item-button">
        <ion-button [ngClass]="isEditing ? 'edit-button' : 'add-button'" [disabled]="!isTypeNotificationValid">
          <ion-icon *ngIf="!isEditing" name="add-outline" class="icon-button-add"></ion-icon>
          <ion-icon *ngIf="isEditing" name="create-outline" class="icon-button-add"></ion-icon>
          {{ isEditing ? 'Editar tipo de notificación' : 'Agregar tipo de notificación' }}
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-grid id="size-grid-table-header">
    <ion-row id="table-header">
      <ion-col size="1"> Id </ion-col>
      <ion-col size="auto"> Tipo Notif. </ion-col>
      <ion-col size="auto"> Estatus </ion-col>
      <ion-col size="4"> Añadido el </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row *ngIf="!data || (data && data.length === 0)">
    <ion-col>
      <ion-item>
        <ion-label class="ion-text-center">¡No hay tipos de notificaciones agregadas!</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="data && data.length > 0">
    <ion-row *ngFor="let d of data">
      <ion-col>
        <ng-template *ngTemplateOutlet="templateData; context: {item: d}"></ng-template>
      </ion-col>
    </ion-row>
  </ng-container>

</div>



