<ion-content>
  <ion-grid id="card">
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col>
              <app-list-data-experience
              [data]="experience"
              [emptyText]="'No hay años de experiencia creadas'"
              [addText]="'Agregar nuevo año de experiencia'"
              [yearExperience]="selectedYearExperience"
              [creationDate]="selectedCreationDate"
              [modificationDate]="selectedModificationDate"
              [deactivationDate]="selectedDeactivationDate"
              [isReadOnly]="isEditing"
              (technologyAdded)="getExperience()"
              >
              <ng-template #templateData let-item="item">
                <ion-item-sliding>
                  <ion-item id="table-content" (click)="selectExperience(item)">
                    <ion-label>
                      <ion-grid>
                        <ion-row>
                          <ion-col size="1">
                            {{ item.id }}
                          </ion-col>
                          <ion-col size="4">
                            {{ item.name }}
                          </ion-col>
                          <ion-col size="3" [id]="item.estatus === 1 ? 'col-estatus-activa' : 'col-estatus-desactivada'">
                            {{ item.estatus === 1 ? 'Activa' : 'Inactiva' }}
                          </ion-col>
                          <ion-col size="4" id="col-estatus-fecha">
                            {{ item.fechaCreacion | date: 'yyyy-MM-dd' }}
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-label>
                  </ion-item>
                  <ion-item-options side="end">
                    <ion-item-option class="option-edit">
                      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                    </ion-item-option>
                    <ion-item-option class="option-delete" (click)="desactivateExperience(item.id)">
                      <ion-icon slot="icon-only" name="power-outline"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </ng-template>
            </app-list-data-experience>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
