/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

body {
    background-image: url('./assets/images/Background4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

@media screen and (orientation: landscape) {
    body {
    background: url('./assets/images/Background4_Horizontal.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    }

    ion-title {
        text-align: center;
    }
}

ion-header, ion-content, ion-toolbar, ion-card-content, ion-item {
    --background: transparent;
    --ion-border-color: transparent;
    color: #fff;
}

ion-title {
    color: #fff;
    font-size: 20px;
}

ion-col {
    margin: 0;
    padding: 0;
}

ion-grid {
    padding-bottom: 0;
}

ion-tab-bar {
    --background: transparent;
    --color: #fff;
    border: none;
}

ion-tab-button {
    --ripple-color: #46534D;
    --color-selected: #092E1C;
}

ion-card{
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    margin-top: 10px;
    backdrop-filter: blur(10px);
    min-height: 605px;
    max-height: 605px;
    overflow-y: auto;
}

#table-content {
    --background: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    border-bottom-color:#27AE60;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    width: auto;
}

#table-header {
    background: #34A853;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
}

#col-estatus-activa {
    padding-left: 8px;
}

#col-estatus-fecha {
    padding-left: 10px;
    font-size: 14px;
}

#size-grid-table-header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}

#item-button {
    --background: transparent;
    --ion-border-color: transparent;
    border-color: transparent;
    padding-top: 20px;
    padding-bottom: 10px;
}

#style-inputs {
    --background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border-color: #27AE60;
    border-width: 1px;
    border-style: solid;
}

.icon-input {
    color: #337043;
    padding-right: 16px;
    font-size: 20px;
}

.button-back-style {
    color: #fff;
    font-size: 30px;
}

.add-button {
    color: #fff;
    --background: #092E1C;
    --border-radius: 20px;
    font-size: 14px;
    height: 40px;
    width: 100%;
    text-transform: none;
}

.edit-button {
  color: #fff;
  --background: #d4ac0d;
  --border-radius: 20px;
  font-size: 14px;
  height: 40px;
  width: 100%;
  text-transform: none;
}

.option-edit {
    color: #fff;
    background-color: #d4ac0d;
}

.option-delete {
    color: #fff;
    background-color: #770101;
}

.icon-button-add {
    padding-right: 12px;
}
